{
    "printWidth": 140,
    "tabWidth": 4,
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrder": ["^@/(.*)$", "<THIRD_PARTY_MODULES>", "^[./].*(?<!css)$", "(.*).css$", "^[./]"],
    "importOrderSeparation": true
}
